html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: #fafafa;
  font-family: "Helvetica Neue", arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #444;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

button:hover {
  cursor: pointer;
}

.Intro {
  line-height: 1.5;
  max-width: 700px;
  padding: 10px 20px 20px;
}

.Logo {
  font-size: 60px;
}

#App {
  display: flex;
}

.Column {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: 240px;
}

.ZoneColumn {
  width: 360px;
}

.ZoneColumn .Cell {
  padding-left: 20px;
}

.DateColumn:hover {
  background: #eee;
}

.Cell {
  display: flex;
  height: 60px;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.Cell:nth-child(2) {
  background: #eee;
}

.Cell.night:after,
.Cell.night .text {
  opacity: 0.5;
}

.Cell.day:after,
.Cell.night:after {
  display: inline-block;
  margin-left: 10px;
}

.Cell.day:after {
  content: "☀️";
}

.Cell.night:after {
  content: "💤";
}

.CloseButton,
.CloseButtonSpacer {
  background: transparent;
  border: 0;
  color: #aaa;
  display: inline-block;
  font-size: 24px;
  margin-left: 5px;
  padding: 0 5px;
  visibility: hidden;
}

.Column:hover .CloseButton {
  visibility: visible;
}

.CloseButton:hover {
  color: #444;
}

.Cell .heading {
  font-size: 32px;
  margin: 0;
  padding: 0;
}

.Cell input {
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  padding: 8px;
  width: 100%;
}

.Cell .text {
  padding: 9px;
}

.ControlCell button {
  margin: 10px 10px 0 0;
}

.DownloadCell {
  justify-content: flex-end;
}

.DateColumn .DownloadCell button {
  display: none;
  margin: 0 5px;
}

.DateColumn:hover .DownloadCell button {
  display: inline-block;
}

