html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: #fafafa;
  font-family: 'Helvetica Neue', arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #444;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

.Intro {
  padding: 10px 10px 150px;
}

.Logo {
  font-size: 60px;
}

#App {
  display: flex;
}

.Column {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: 240px;
}

  .Column.wide {
    width: 360px
  }

  .Column.lighter{
    color: #999;
  }

.Cell {
  height: 60px;
  padding: 10px;
}

  .Column.lighter:hover,
  .Cell.isLocal {
    background: #eee;
    color: #444;
  }

  .Cell.hasClose {
    padding-right: 40px;
    position: relative;
  }

.CloseButton {
  background: transparent;
  border: 0;
  color: #999;
  display: none;
  font-size: 30px;
  height: 30px;
  line-height: 1;
  width: 30px;
}

  .Cell:hover .CloseButton {
    display: initial;
    position: absolute;
    right: 10px;
    top: 10px;
  }

  .CloseButton:hover {
    color: #444;
    cursor: pointer;
  }

.Cell .heading {
  font-size: 32px;
  margin: 0;
  padding: 0;
}

.Cell input {
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  padding: 8px;
  width: 100%;
}

.Cell .padded {
  padding: 9px;
}

.ControlCell button {
  margin: 10px 10px 0 0;
}
